.clear{
    clear: both;
}
a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
        text-decoration: none;
    }
}
.error{
    font-size: 14px; 
}
/*navigation*/
#navbar {
    height: 55px;
    .navbar-header{
        width: 100%;
        .collapse.navbar-collapse{
            .head-logo {
                float: left;
                margin-left: 0;
                a {
                 
                  display: block;
                  text-indent: -9999px;
                 
                  height: 30px;
                  margin: 8px 0;
                }
            }
            padding-right: 0;
           
            width: 100%;
            ul{
                width: auto;
            }
            > #headerRight {
                float: right;
                width: auto;
                height: 50px;
                #login{
                    margin-top: 15px;
                    display: inline-block;
                }
                #upload{
                    display: inline-block;
                    /*line-height: 30px;*/
                    border-radius: 3px;
                    font-size: 13px;
                    background-color: #ff3c1f;
                    font-weight: bold;
                    width: 90px;
                    a{
                        color: #fff;
                        padding: 10px 12px;
                    }
                }
                .ul_info{
                    display: none;
                    position: absolute;
                    z-index: 999;
                    background-color: rgb(248, 248, 248);
                    padding-left: 5px;
                    width: 125px;
                    border: 1px solid rgb(231, 227, 227);
                    border-radius: 0 0 5px 5px;
                    border-top-width: 0;
                }
            }
        }
    }
    
    li {
        margin: 0 5px;
        padding: 5px 0 5px;
        float: left;
       
        list-style: none;
        .current {
            border-bottom: 3px solid transparent;
            border-color: #ee0005;
            a {
                color: #ee0005;
                font-weight: bold;
            }      
        }
        a{
            color: #777;
            -webkit-transition: color .2s linear;
            &:hover{
                color: #000;
            }
        }
        &:hover > ul {
            display: block;
        }
    }
    &:hover {
        &> a {
         /*   color: #FFFFFF;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
            text-shadow: 1px 1px 1px #FFFFFF;*/
        }

    }
}
/*end navigation*/



/*switch dang anh & video*/
.head {
    background-color: #E8E8E8;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    padding: 10px 10px 0;
    position: relative;
    box-shadow: 0 1px #fff inset, 0 -1px #DDD inset;
    -moz-box-shadow: 0 1px #fff inset, 0 -1px #DDD inset;
    -webkit-box-shadow: 0 1px #fff inset, 0 -1px #DDD inset;
    height: 60px;
    ul.switch{
        padding-left: 5px;
        margin-bottom: 0;
        li {

            width: 128px;
            margin-left: 5px;
            display: inline-block;
            .arrow-up {
                display: block;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;

                border-bottom: 20px solid white;
            }

    
            a {
                font-size: 12px;
                font-weight: bold;
                color: #999;
                text-shadow: 0 1px 0 #fff;
                display: block;
                line-height: 15px;
                padding: 20px 0 15px;
                width: 50px;
                text-align: center;
                padding-top: 5px;
                display: inline;
            }
            &.tab_photo{
                .arrow-up {
                    margin-top: 2px;
                }
            }
            &.tab_video {
                img{
                    height: 40px;
                }
            }
        }

    }
}


/*videos list*/
#video-content.list { 
    ul {
        padding-left: 0;

        .col-1 li {
            div.info {
                a{
                    &.fix{
                        margin: 0px;
                        background: url(../images/sprite_v12.png) no-repeat 0 -2257px;
                        padding-left: 16px;
                        line-height: 14px;
                        margin: -16px 0 22px;
                        visibility: hidden;
                        color: #399A35;
                        &:hover{
                            color: #43b93f;
                            text-decoration: underline;
                        }
                    }
                    &.report{
                        margin: -16px 0 30px;
                        visibility: hidden;
                        &:hover{
                            color: #ee5b8c;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .info {

            h1{ 
                margin-top: 0;
                margin-bottom: 0;
                color: #000;
                font-size: 18px;
                line-height: 28px;
                a{
                    color: #000;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            a{
                &:hover {
                    color: #0087F7;
                    text-decoration: none;
                }
            }

        }
        
        li.video{
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            width: 100%;
            /*float: left;*/
            /*margin-bottom: 10px;*/
            list-style-type:none;
            /*height: 415px;*/
            height: auto;
            overflow: hidden;
            .post-info {
                position: relative;
                /*width: 200px;*/
                /*float: right;*/
            }
            div.content{
                height: auto;
                position: relative;
                text-align: center;
            }
            
        }
    }
}

/*photos list*/
#photo-content.list { 
    ul {
        padding-left: 0;

        .col-1 li {
            div.info {
                a{
                    &.fix{
                        margin: 0px;
                        background: url(../images/sprite_v12.png) no-repeat 0 -2257px;
                        padding-left: 16px;
                        line-height: 14px;
                        margin: -16px 0 22px;
                        visibility: hidden;
                        color: #399A35;
                        &:hover{
                            color: #43b93f;
                            text-decoration: underline;
                        }
                    }
                    &.report{
                        margin: -16px 0 30px;
                        visibility: hidden;
                        &:hover{
                            color: #ee5b8c;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .info {

            h1{ 
                margin-top: 0;
                margin-bottom: 0;
                color: #000;
                font-size: 18px;
                line-height: 28px;
                a{
                    color: #000;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            a{
                &:hover {
                    color: #0087F7;
                    text-decoration: none;
                }
            }

        }
        
        li.photo{
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            width: 100%;
            /*float: left;*/
            /*margin-bottom: 10px;*/
            list-style-type:none;
            /*height: 415px;*/
            height: auto;
            overflow: hidden;
            .post-info {
                position: relative;
                /*width: 200px;*/
                /*float: right;*/
            }
            div.content{
                height: auto;
                position: relative;
                text-align: center;
            }
            
        }
    }
}



/*top users*/

div.topUsers{
    /*overflow: hidden;*/
    .item{
        float: left;
        width: 130px;
        height: 70px;
      
        a {
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
            div.info{
                display: inline-block;
                width: 55px;
                padding-left: 5px;
                .name {
                    display: block;
                    margin-bottom: 3px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 80px;
                    font-size: 11px;
                }
            }

        }
    }
    /*.video {
        float: left;
        margin-bottom: 8px;
        width: 140px;
        img{
            float: left;
            height: 50px;
            width: 50px;
            border-radius: 25px;
        }
        .info {
            margin-left: 52px;
        }

    }*/
  
}
div.uploader {
    .avatar img {
        float: left;
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
    .info {
        width: 100px;
        float: left;
        margin-left: 10px;
    }
}
#sensitive_content{

    display:inline; 
    margin-right:5px; 
    position:relative; 
    top:2px;
}
.views {
    line-height: 16px;
    font-size: 14px;
    background: url("../images/view_icon.png") no-repeat scroll 0 0 transparent;
    padding-left: 18px;
}

.comments {
    background: url("../images/comment_icon.png") no-repeat scroll 0 0 transparent;
    padding-left: 18px;
}


#paging-buttons a {
    display: block;
    float: left;
    background-color: #00A5F0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    height: 36px;
    line-height: 36px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px #fff;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .2);
    width: 45%;
    margin-left: 10px;
}

div.user{
    font-size: 10px;
    color: gray;
}
div.thumbnail{
    border-width: 0;
}


.profile-info h3 { 
    margin-top: 0;
    a {
        font-size: 20px;
    }
}

div.post-info{
    float: right;
}
div.avatar {
    width: 150px;
}

.prev-arrow {
    border-top: 17px dashed transparent;
    border-bottom: 17px dashed transparent;
    border-right: 12px solid #ff3c1f;
    position: absolute;
}
.post-next-prev {
    .prev-label {
        padding: 9px;
        font-weight: bold;
        height: 34px;
        line-height: 34px;
        background-color: #ff3c1f;
        color: #fff;
        border-radius: 3px 0 0 3px;
        margin-left: 11px;
    }
    .next-label {
        padding: 9px;
        font-weight: bold;
        height: 34px;
        line-height: 34px;
        background-color: #ff3c1f;
        color: #fff;
        border-radius: 3px 0 0 3px;
    }
}

.arrow {
    border-top: 17px dashed transparent;
    border-bottom: 17px dashed transparent;
    border-left: 12px solid #ff3c1f;
    position: absolute;
}

#post-control-bar{
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}
div.sensitive_content {
    #sensitive_content{
        margin-right: 5px;
        position: relative;
        top: 2px;
        display: inline-block;
    }
    p{
        display: inline-block;
    }
}

div.form_photo, div.form_video{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff));
    border: 1px solid rgb(240, 240, 240);
}


span.tagit-label{
    font-size: 12px;
    color: black;
}
ul.tagit li.tagit-choice .tagit-close{
    top: 48% !important;
}
.photoListItemSmall {

    .info{
        h3{
            width: 195px;
            color: #000;
        }
        float: left !important;
    }
}
#moving-boxes{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}
ul.topUsersSort {
    float: right;
    li {
        display: inline;
        font-size: 13px;
        font-style: italic;
        font-weight: bold;
    }
    a {
        color: #333;
        .selected {
            color: #00A5F0;
        
        }
    }
}


h3.topUsers{
    float: left;
    color: #222222;
    font-size: 17px;
    line-height: 1.2em;
    margin: 0 0 5px;
}

#topUserContent{
    width: 80%;
}
.darkBox{
    height: 108px;
}
.error{
    color: red;
}

img.videoIndicator {
          
    position: absolute;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    left: 50%;
}
/*sidebar*/
    
.side-bar {
    float: left;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
    overflow: hidden;
    width: 300px;
    .s-300 {
        margin-bottom: 5px;
        width: 300px;
    }
}

.image-box, .video-box {
    border-bottom: 1px solid #0087F7;
    padding-bottom: 5px;
    font-size: 18px;
    margin: 0px 0px 10px;
}
.photoListItemSmall {
    .thumbnail {
        float: left;
        max-height: 80px;
        text-align: center;
        width: 100px;
        img {
            
            max-height: 75px;
            width: 100px;
        }
    }
    .info {
        margin-left: 105px;
        float: right;
        width: 111px;
        margin-left: 0;
        font-size: 14px;

    }
    h3 {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    &:hover h3 {
        color: #0087F7;

    }
}

/*end sidebar*/

/* profile */
.profile-pad {
    overflow: hidden;

    .profile-image {
        
        height: 280px;
        /*display: inline;*/
        float: left;
        padding-left: 0px;
        padding-right: 0px;
       
    }
    .profile-info {
        /*display: inline;*/
        float: left;
        background:#333333;
        width: 208px;
        height: 280px;
        padding: 20px 20px 0;
        background-color: #222;
       
        color: #fff;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
        /*position: relative;*/
        text-shadow: 0 -1px rgba(0, 0, 0, .2);
        box-shadow: 0 -68px rgba(0, 0, 0, .2) inset;
        -moz-box-shadow: 0 -68px rgba(0, 0, 0, .2) inset;
        -webkit-box-shadow: 0 -68px rgba(0, 0, 0, .2) inset;
    }
    .profile-image a img {
        
        display: block;
        float: left;
        /*width: 480px;*/
        height: 280px;
        background-color: #222;
    
        border: none;
    }
    a.friendship, a.settings {
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        width: 36px;
        height: 36px;
        position: absolute;
        bottom: 15px;
        right: 20px;
        -webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        border: 1px solid rgba(0, 0, 0, .4);
        box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
        -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
        -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
        border-radius: 50px;
        -webkit-transition: background-color .2s linear;
        -moz-transition: background-color .2s linear;
        background: url(../images/sprite_v12.png) -400px -100px no-repeat rgba(255, 255, 255, .1);
    }
}

.main-filter {
    background-color: #f4f4f4;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    height: 43px;
    overflow: hidden;
    box-shadow: 0 1px #fff inset, 0 -1px #ddd inset;
    -moz-box-shadow: 0 1px #fff inset, 0 -1px #ddd inset;
    -webkit-box-shadow: 0 1px #fff inset, 0 -1px #ddd inset;
}

/* end profile */

.fb-comments{
    iframe{
        width: 700px !important;
    }
}


/*laptop*/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #navbar {
        .head-logo {
            a{
                width: 150px;
                #logo{
                    display: block; 
                }
                #small-logo{
                    display: none;
                }
            }
        }

    }
    .video{

        a img{
            /*width: 460px;*/
            /*height: 345px;*/
            width: 100%;
        }
       
    }
}


/*phone*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px){

    #navbar .navbar-header .collapse {
       
        display: block;
        visibility: visible;
    }

    #navbar {
        .head-logo {
            a{
                width: auto;
                #logo{
                    display: none; 
                }
                #small-logo{
                    display: block; 
                }
            }
        }
        #headerRight{
            display: none;
        }
        ul li {
            &:last-child{
                display: none;
            }
            a{
                padding-left: 5px;
                padding-right: 5px;
            }
        }

    }
    #topUserContent, #moving-boxes{
        display: none;
    }
    .video{
        a img{
           width: 100%;
        }

       
    }
    .fb-comments{
        iframe{
            width: 300px !important;
        }
    }
}

/*tablet*/
@media only screen 
  and (min-width: 600px) 
  and (max-width: 800px){

    .video{
        a img{
            width: 100%;
        }
    }
    #topUserContent, #moving-boxes{
        display: none;
    }
}
